<div class="card">
  <div class="card-header">Create Income</div>
  <div class="card-body">
    <form #incomeForm="ngForm" (submit)="onSubmit(incomeForm)">
      <div class="form-row">
        <div class="col-md-6">
          <div class="form-group">
            <select class="form-control" id="BillType" [(ngModel)]="selectedIncomeType"
              [ngModelOptions]="{standalone: true}">
              <option *ngFor="let income of incomeTypes.sort()" [value]="income">{{income}}</option>
            </select>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="inputIncomeDate" #IncomeDate name="IncomeDate"
              [(ngModel)]="enteredIncomeDate" placeholder="Income Date">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="inputIncomeAmount" name="IncomeAmount"
              [(ngModel)]="enteredIncomeAmount" placeholder="Income Amount">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="inputIncomeComment" name="IncomeComment"
              [(ngModel)]="enteredIncomeComment" placeholder="Income Comment">
          </div>
          <div class="form-group">
            <div class="col-md-3 float-left"><button type="submit" class="btn btn-primary">Submit</button></div>
            <div class="col-md-3 float-right"><button type="button" class="btn btn-primary"
                (click)="resetForm(incomeForm)">Reset</button></div>

          </div>
        </div>
        <div class="col-md-6">
          <table class="table">
            <thead class="table-light">
              <tr>
                <th>Income Type</th>
                <th>Date</th>
                <th>Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of incomeData">
                <td>{{item.incometype}}</td>
                <td>{{item.date | date: 'dd/MM/yyyy'}}</td>
                <td>{{item.amount}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </form>
  </div>
  <div class="card-footer"></div>
</div>
